.education {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transition: height 0.5s ease;
  width: 100%;
  max-width: 2560px;

  &_header_text {
    padding-top: 4rem;
    height: 100%;
    position: relative;
    color: #EFF6EE;
  }

  &_degree_container {
    @extend .education;
    padding: 1rem;

    &_card {
      @extend .education;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}