.education {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transition: height 0.5s ease;
  width: 100%;
  max-width: 2560px;

  &_header_text {
    padding-top: 4rem;
    height: 100%;
    position: relative;
    color: #EFF6EE;
  }

  &_degree_container {
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    &_card {
      @extend .education;
      position: relative;
      transform-style: preserve-3d;
      flex-direction: column;

      &_front {
        position: absolute;
        backface-visibility: hidden;
      }

      &_back {
        position: absolute;
        backface-visibility: hidden;
      }
    }
  }
}