.headshot {
  text-align: center;
  align-content: center;
  justify-content: center;

  &_container {
    left: 75%;
    position: absolute;
    margin-top: 4rem;

    &_image {
      width: 20rem;
      height: 20rem;
      border-radius: 16rem;
      overflow: hidden;
      box-shadow: 5px 5px 500px #ffd217,
      -5px 5px 500px #5ac7ff,
      5px -5px 500px #B025CD,
      -5px -5px 500px #de4e71,
      5px 5px 500px #440880;
    }
  }

  &_header_text {
    color: #EFF6EE;

    &_top {
      color: #EFF6EE;
      padding-top: 10rem;
    }

    &_container {
      background: rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      margin: 0 auto;
      padding: 0.5rem 1rem;
    }
  }
}

.social_links {
  z-index: 5;

  &_drop_shadow {
    display: flex;
    background: rgba(0, 0, 0, 0.10);
    border-radius: 16rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }
}

.headshot_cv_button_stack {
  margin-top: 2rem;
}