.project_section {
  text-align: center;

  &_header_text {
    padding-top: 10rem;
    height: 100%;
    position: relative;
    color: #EFF6EE;
  }
}

.project_container {
  margin: 1rem;
  padding: 1rem;
}

.project {
  text-align: center;

  &_header_text {
    height: 100%;
    position: relative;
    color: #EFF6EE;
  }

  &_description {
  }

  &_keyword {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  &_keywords {
    padding-top: 1.5rem;
  }
}