$breakpoints: (
        xs: 0px,
        sm: 600px,
        md: 900px,
        lg: 1200px,
        xl: 1536px
);

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

$base: value 1.35;

.project_section {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: height 0.5s ease;
  width: 100%;
  max-width: 2560px;

  &_card {
    @extend .project_section;
    display: flex;

    &_header {
      justify-content: center;
      align-items: center;
    }

    &:hover {
      // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
      filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, .2));
    }
  }

  &_header_text {
    height: 100%;
    position: relative;
    color: #EFF6EE;
    padding-top: 4rem;
  }

  &_subheader_text {
    height: 100%;
    position: relative;
    color: #EFF6EE;
    padding-top: 2rem;

    @include mq(xs) {
      padding-top: 2.5rem;
    }

    @include mq(xl) {
      padding-bottom: 2.5rem;
    }
  }
}

.project_container {
  height: auto;
}

.project {
  text-align: center;
  transition: height 0.5s ease;

  &_header_text {
    height: 100%;
    position: relative;
    color: #EFF6EE;
  }

  &_faq {
    padding-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  &_keyword {
    margin: 0.25rem 0.25rem;
  }

  &_keywords {
    margin: 0 auto;
    max-width: 80%;
    padding-top: 1rem;
  }

  &_built_with {
  }

  &_media_background {
    background: #1C192E;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    height: 150px;
  }

  &_description_collapsed {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@keyframes gradient-cycle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}