.skills {
  text-align: center;
  margin: 0 auto;
  color: #EFF6EE;
  max-width: 2560px;

  &_header_text {
    padding-top: 4rem;
    height: 100%;
    position: relative;
    color: #EFF6EE;
  }

  &_body {
    padding: 1rem;

    &_category_header {
      padding-top: 1rem;
    }
  }

  &_category_container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    // Set to 0; we explicitly set marginTop on each skill so we can add line-breaks to the rows of skills
    // without adding a blank line in between the rows (by adding a div with flex-basis: 100% to add the new row).
    row-gap: 0;
    column-gap: 1rem;
    margin: 1.5rem auto 0 auto;

    &_skill {
      color: #ffffff;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
      display: inline-block;
    }
  }
}