.gradient_background::before,
.gradient_background::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0.75;
    will-change: transform;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px red solid;*/
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    background-size: 100%;
    /*background: linear-gradient(to bottom, #811351, #120c4d, #1c1860, #961a60, #784BA0) no-repeat;*/
    background: linear-gradient(to bottom, #811351, #120c4d, #1c1860, #961a60, #784BA0) no-repeat;
}

a {
    color: inherit; /* blue colors for links too */
}

body:before{
    content:'';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #1c1860 95%);
}

/* Content styles */
.content {
    z-index: 1;
    position: relative;
    padding: 50px;
    text-align: center;
}

/*.solid_background_mobile {*/
/*    !*background: linear-gradient(160deg, #120c4d 0%, #2e0a4f 15%, #07133f 25%, #09133a 43%, #111547 80%, #4034e3 97%, #4e42f5 99%);*!*/
/*    min-height: 100vh; !* Ensure gradient covers the entire viewport height *!*/
/*    display: flex; !* Optional: For centering content *!*/
/*    flex-direction: column; !* Optional: For vertical layout *!*/
/*    align-items: center; !* Optional: For centering content horizontally *!*/
/*    justify-content: center; !* Optional: For centering content vertically *!*/
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
/*    margin: 0 auto;*/
/*}*/

/*.solid_background_desktop {*/
/*    !*background: linear-gradient(160deg, #150746 0%, #38145a 15%, #07133f 25%, #09133a 43%, #111547 80%, #4034e3 97%, #4e42f5 99%);*!*/
/*    min-height: 100vh; !* Ensure gradient covers the entire viewport height *!*/
/*    display: flex; !* Optional: For centering content *!*/
/*    flex-direction: column; !* Optional: For vertical layout *!*/
/*    align-items: center; !* Optional: For centering content horizontally *!*/
/*    justify-content: center; !* Optional: For centering content vertically *!*/
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
/*    margin: 0 auto;*/
/*}*/


#wukong-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.gradient_background {
    position: fixed;
    overflow: visible;
    max-width: 100%;
    z-index: -1;

    --secondary-glow: conic-gradient(
            from 10deg at 50% 50%,
            #a24b60 0deg,
            #764e7a 55deg,
            #666394 120deg,
            #663970 160deg,
            transparent 360deg
    );

    --third-glow: conic-gradient(
            from 90deg at 50% 50%,
            #0068d5 0deg,
            #652a7c 170deg,
            #ffd400 150deg,
            #9a5f9b 120deg,
            #0090d9 55deg,
            transparent 360deg
    );
}

.gradient_background::before {
    background: var(--third-glow);
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    margin-left: -15px;
    filter: blur(90px);
    top: calc(50vh - 50vw / 2);
    left: calc(50vw);
    animation: animateBefore 20s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
    opacity: 0.25;
}

.gradient_background::after {
    background: var(--secondary-glow);
    opacity: 0.65;
    border-radius: 50%;
    width: 500px;
    height: 700px;
    filter: blur(90px);
    top: calc(50vh - 50vw / 2);
    left: calc(50vw - 50vw / 2);
    animation: animateAfter 20s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@keyframes animateBefore {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(400px) scale(0.8);

    }
    100% {
        transform: translateY(0);
    }
}

@keyframes animateAfter {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-250px) scale(1.2);

    }
    100% {
        transform: translateX(0);
    }
}